In [ ]:
#introduction to dataframes

In [ ]:
#syntax of DataFrames
#df=pd.DataFrame(data,index,columns,dtype)

In [1]:
import numpy as np
import pandas as pd

In [4]:
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
data=[1,2,3,4,5,6]
df=pd.DataFrame(data)
print(df)#here 0  tels columns name by default

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [6]:
data=[['hari',50],['nehal',40],['devanshi',30],['shankar',20],['hepsibha',10]]
df=pd.DataFrame(data)
print(df)

          0   1
0      hari  50
1     nehal  40
2  devanshi  30
3   shankar  20
4  hepsibha  10

In [7]:
data=[['hari',50],['nehal',40],['devanshi',30],['shankar',20],['hepsibha',10]]
df=pd.DataFrame(data,columns=['Name','Marks'])
print(df)

       Name  Marks
0      hari     50
1     nehal     40
2  devanshi     30
3   shankar     20
4  hepsibha     10

In [8]:
data=[['hari',50],['nehal',40],['devanshi',30],['shankar',20],['hepsibha',10]]
df=pd.DataFrame(data,columns=['Name','Marks'],dtype=float)
print(df)

       Name  Marks
0      hari   50.0
1     nehal   40.0
2  devanshi   30.0
3   shankar   20.0
4  hepsibha   10.0

In [ ]:
#creating dataframe by using dict of ndarray!

In [9]:
data={'Name':['tom','jack','streve','rich'],'Age':[28,22,23,20]}
df=pd.DataFrame(data)
print(df)

     Name  Age
0     tom   28
1    jack   22
2  streve   23
3    rich   20

In [ ]:
#Name,age are dict keys.in dict keys will be acting as columns names

In [ ]:
#req:modifying of indexs

In [10]:
data={'Name':['tom','jack','streve','rich'],'Age':[28,22,23,20]}
df=pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'],dtype=float)
print(df)

         Name   Age
rank1     tom  28.0
rank2    jack  22.0
rank3  streve  23.0
rank4    rich  20.0