In [ ]:
#list data types

In [1]:
student=['devanshi','nehal','srinivas','lavanya','ravi']
print(student[2])

srinivas

In [2]:
print(student[1])#by using index method,index always start with '0'not '1'

nehal

In [3]:
 print(student[4].title())

Ravi

In [37]:
student=['devanshi','nehal','srinivas','lavanya','ravi']
print(student[3])

lavanya

print(student[3])

In [9]:
message=f"keep up the good work,{student[2].title()}"
print(message)

keep up the good work,Srinivas

In [10]:
message=f"keep up the good work,{student[0].title()}"
print(message)

keep up the good work,Devanshi

In [11]:
message=f"keep up the good work,{student[0]}"
print(message)

keep up the good work,devanshi

In [ ]:
#here the output is same,then what is the  use  of title()

In [ ]:
#adding,modifying/changing and deleting a list

In [12]:
student.append('sridevi')   #adding(by defult the new name is add at the end of list)
print(student)

['devanshi', 'nehal', 'srinivas', 'lavanya', 'ravi', 'sridevi']

In [13]:
student.insert(2,'swathi')
print(student)

['devanshi', 'nehal', 'swathi', 'srinivas', 'lavanya', 'ravi', 'sridevi']

In [15]:
print(student[3])

srinivas

In [ ]:
#modifying/changing

In [16]:
student[0]='rudira'
print(student)   #here devanshi is replaced by rudira

['rudira', 'nehal', 'swathi', 'srinivas', 'lavanya', 'ravi', 'sridevi']

In [ ]:
#deleting

In [17]:
print(student)

['rudira', 'nehal', 'swathi', 'srinivas', 'lavanya', 'ravi', 'sridevi']

In [18]:
student.pop()
print(student) #by defult last element will be deleted

['rudira', 'nehal', 'swathi', 'srinivas', 'lavanya', 'ravi']

In [19]:
student.remove('ravi')
print(student)

['rudira', 'nehal', 'swathi', 'srinivas', 'lavanya']

In [23]:
student.append('swathi')
print(student)

['rudira', 'nehal', 'srinivas', 'lavanya', 'swathi']

In [ ]:
#organising a list

In [24]:
my_students=['manoj','kishore','sateesh','ram','karnati']
my_students.sort()
print(my_students) #by using sort method  we can short the elements in assending order

['karnati', 'kishore', 'manoj', 'ram', 'sateesh']

In [26]:
student=['devanshi','nehal','srinivas','lavanya','ravi']
print(student)

['devanshi', 'nehal', 'srinivas', 'lavanya', 'ravi']

In [27]:
print(sorted(student))

['devanshi', 'lavanya', 'nehal', 'ravi', 'srinivas']

In [36]:
student=['devanshi','nehal','srinivas','lavanya','ravi']
print(student)
student.reverse()#the elements of a student is  print in reverse order
print(student)

['devanshi', 'nehal', 'srinivas', 'lavanya', 'ravi']
['ravi', 'lavanya', 'srinivas', 'nehal', 'devanshi']