In [ ]:
#intraduction to tuple

In [ ]:
how to define atuple?

In [1]:
dimensions=(250,50)
print(dimensions)

(250, 50)

In [2]:
dimensions[0]=250
print(dimensions[0])

TypeError: 'tuple' object does not support item assignment

In [3]:
print(dimensions)

(250, 50)

In [4]:
print(dimensions[0]) #0,1,2,3..........>dimensions

250

In [5]:
print(dimensions[1])

50

In [ ]:
#for loop with tuple

In [6]:
for dimension in dimensions:
    print(dimension)

250
50

In [7]:
for x in dimensions:
    print(x)

250
50

In [8]:
fruits= ['apple','banana','ornge','mango']
for fruit in fruits:
    print(fruit)

apple
banana
ornge
mango

In [63]:
cars=['audi','bmw','maruthi','tayota']
for car in cars:
    
    if car=='bmw':
        print(car.upper()) 
    else
       
        print(car.title())

SyntaxError: invalid syntax (<ipython-input-63-df2ca798fe81>, line 6)

In [80]:
car=['audi','bmw','maruthi','tayota']
for cars in car:
    if cars=='audi': 
        print(cars.upper())
    else
        print(cars.title())

SyntaxError: invalid syntax (<ipython-input-80-3a3e3b188401>, line 5)

In [45]:
print(car[:]) #coppying the list

['audi', 'bmw', 'maruthi', 'tayota']