In [1]:
import pandas as pd

In [2]:
import numpy as np

In [6]:
x=pd.read_excel('transaction.xlsx')
x

   Transaction_id  Product_id  Price
0            1001           1   5.95
1            1002           2   6.95
2            1003           3   7.95

In [8]:
import openpyxl as xl
wb=xl.load_workbook('transaction.xlsx')

In [10]:
sheet=wb['Sheet1']

In [41]:
cell=sheet['c1']

In [41]:
cell=sheet['c1']

In [42]:
print(cell.value)

Price

In [22]:
print(sheet.max_row)

4

In [72]:
for row in range(1,4):
    for row in range(1,sheet.max_row+1):
        cell=sheet.cell
        corrected_price=cell.value* 0.9
        corrected_price_cell=sheet.cell(row,4)
        corrected_price_cell.value=corrected_price
wb.save('corrected_Excel_sheet.cell.xlsx')
df=pd.read_excel(trans3.xlsx)
print(df)

AttributeError: 'function' object has no attribute 'value'

In [ ]:
#introduction to series

In [73]:
import numpy as np

In [74]:
import pandas as pd

In [ ]:
#genral syntax of series is pandas.series(data,index,dtype)

In [ ]:
#creating an empty series

In [85]:
s=pd.Series()
print(s)

Series([], dtype: float64)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [87]:
data=np.array(['a','b','c','d'])
x=pd.Series(data)
print(x)#here 0,1,2,3 are default indexes,object means collection of

0    a
1    b
2    c
3    d
dtype: object

In [88]:
type(x)

pandas.core.series.Series

In [92]:
data=np.array(['a','b','c','d'])
x=pd.Series(data,index=[100,101,102,104])
print(x)

100    a
101    b
102    c
104    d
dtype: object

In [ ]:
#creating a series from a dictionary

In [93]:
data={'a':0,'b':1,'c':2,'d':3}
x=pd.Series(data)
print(x)

a    0
b    1
c    2
d    3
dtype: int64

In [ ]:
#here the index is replaced by keys

In [94]:
data={'a':1,'b':2,'c':3,'d':4}
x=pd.Series(data,index=['b','a','e','f','d','c'])
print(x)

b    2.0
a    1.0
e    NaN
f    NaN
d    4.0
c    3.0
dtype: float64

In [ ]:
#nan means not a number
#NAN is float datatype

In [ ]:
#creating a series from a scalar,scalar means constant value

In [96]:
x=pd.Series(5,index=[0,1,2,3,4,5,6,7,8,9,10])
print(x)

0     5
1     5
2     5
3     5
4     5
5     5
6     5
7     5
8     5
9     5
10    5
dtype: int64