In [7]:
import openpyxl as xl

In [8]:
import numpy as np
import pandas as pd

In [12]:
x=pd.read_excel('transaction.xlsx')
print(x)

   Transaction_id  Product_id  Price
0            1001           1   5.95
1            1002           2   6.95
2            1003           3   7.95

In [11]:
wb=xl.load_workbook('transaction.xlsx')

In [13]:
sheet=wb['Sheet1']

In [14]:
cell=sheet['a1']

In [15]:
print(cell.value)

Transaction_id

In [16]:
cell=sheet.cell(1,1)

In [18]:
print(sheet.max_row)

4

In [39]:

    for row in range(2,sheet.max_row+1):
        cell=sheet.cell(row,3)
        corrected_price=cell.value * 0.9
        corrected_price_cell=sheet.cell(row,4)
        corrected_price_cell.value=corrected_price

In [41]:
wb.save('trans3.xlsx')
df=pd.read_excel('transaction3.xlsx')
print(df)

   Transaction_id  Product_id  Price  Unnamed: 3
0            1001           1   5.95       5.355
1            1002           2   6.95       6.255
2            1003           3   7.95       7.155